/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
/*-----------------------------MAIN-------------------------------*/
.action{
	display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin: 5px;
}
.rules{
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.rulesText{
	font-size: 1.5rem;
	line-height: 2.5rem;
}
}
.win{
	color: green;
	border: 1px solid green;
}
.black{
	color: black;
	border: 1px solid black;
}
.active{
	color: red;
	border: 1px solid red;
}
.wraperTimer div{
	width: 100px;
	margin: 0 auto;
}
.wraperInputs label{
	font-size: 20px;
    line-height: 20px;
}
.wraperInputs label .inpt{
	-webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    transition: 0.2s all linear;
}
.wraperInputs label .inpt:checked {
    border-width: 8px;
}
.borderGrey{border-color: #999;}
.borderRed{border-color: red;}
.borderGreen{border-color: green;}
.borderBlue{border-color: blue;}
.backgroundRed{background-color: red;}
.backgroundGreen{background-color: green;}
.block{
	display: none;
}
.tableResult{
	display: none;
	padding: 0;
}