/* reset css */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { list-style: decimal; }
ul { list-style:none; }
a{text-decoration: none;}
q:before, q:after { content:''; }
*:focus {outline: none;}
/* end reset */
/*----------------------------Font name-----------------------------*/
	/*font: px georgia, serif;
	font: px "times new roman", times, serif;
	font: px arial, helvetica, sans-serif;
	font: px tahoma, geneva, sans-serif;
	font: px "trebuchet ms", helvetica, sans-serif;
	font: px verdana, geneva, sans-serif;
	font: px "ms serif", "new york", serif;
	font: px "arial black", gadget, sans-serif;
	font: px "lucida sans", unicode, "lucida grande", sans-serif;*/
@font-face {
	
}
/*---------------------------start---------------------------------*/
html{
 height:100%;
 background:#fff;
}
body{
 font:16px/16px Arial, Helvetica, sans-serif;
 min-height:100%;
 min-width: 120px;
 width: 50%;
 margin: 0 auto;
 color:#000;
}
/*:before,
:after*/
/*:before,
:after*/
/*{
	display: block;
	clear: both;
	content: '';
}*/


/*-----------------------------MAIN-------------------------------*/
main{
	width: 100%;
	margin: 20px auto;
}
main .container{
	min-height: 100%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid black;
	
}
.container > button{
	margin: 10px 20px;
	cursor: pointer;
}
.container > input{
	width: 100px;
	/*height: 100%;*/
    font-size: 24px;
    line-height: 24px;
}
.action{
	display: inline-block;
    font-size: 24px;
    line-height: 24px;
    margin: 5px;
}
.firstDigit{

}
.secondDigit{

}
.operation{

}
.result{
	
}
.win{
	color: green;
	border: 1px solid green;
}
.digitImage{
	min-height: 100%;
	margin: 0 auto;
	padding: 10px;
	overflow: hidden;
}
.digitImage button{
	float: left;
}
.btn{
	padding: 10px;
	
	border: 1px solid black;
	border-radius: 3px;
	cursor: pointer;
}
.black{
	color: black;
	border: 1px solid black;
}
.active{
	color: red;
	border: 1px solid red;
}
.wraperInputs{

}
.wraperInputs label{
	font-size: 20px;
    line-height: 20px;
}
.wraperInputs label .inpt{
	-webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    transition: 0.2s all linear;
}
.wraperInputs label .inpt:checked {
    border-width: 8px;
}
.borderGrey{border-color: #999;}
.borderRed{border-color: red;}
.borderGreen{border-color: green;}
.borderBlue{border-color: blue;}
.backgroundRed{background-color: red;}
.backgroundGreen{background-color: green;}
.block{
	display: none;
	/*height: 100px;*/
	/*overflow: hidden;*/
}
.tableResult{
	display: none;
}
.tableResult table{
	/*border: 1px solid black;*/
}
.tableResult table th, .tableResult table td{
	border: 1px solid black;
	padding: 5px;
}